# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\My_Studies\Design-Patterns\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
